body, html {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #222;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
